<!-- <!-- <div>
<p>
    helllo
</p></div>


<nav>
    <ul>
        <li>
            red
        </li>
        <li>
            black
        </li>
        <li>
            green
        </li>
    </ul>




</nav>
<div>
    <button class="basic">red</button>
    <button class="warn">black</button>
    <button class="primary">yellow</button>
</div>
<h1 class="success">
    kjdnskdn
</h1>
<h1 class="error">
    kjdn
</h1>

<h1>
hi
</h1>
<h2>
hi
</h2>
<h3>
hi
</h3>
<h4>
hi
</h4>
ughjug
<p class="item">
    dsww
</p>
<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section> -->



  <!-- <table class="table table-hover">
    
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">first name</th>
            <th scope="col">last name</th>
            <th scope="col">email</th>
            <th scope="col">dob</th>
          </tr>
        </thead>
        <tbody>

           
            <tr *ngFor="let d of data,index as i">
            <td >{{d['student_id']}}</td>
            <td >{{d['student_name']}}</td>
            <td >{{d['phone']}}</td>
            <td >{{d['gender']}}</td>
            <td >{{d['email']}}</td>
        
        </tr>
        </tbody>
      
  </table>


  <form #form1="ngForm" (ngSubmit)="SubmitData(form1)">
    <div class="mb-3">
        <label  class="form-label">student_id</label>
        <input type="number"  ngModel name="id">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
    <div class="mb-3">
      <label  class="form-label">Email address</label>
      <input type="email"  ngModel name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


    <div class="mb-3">
        <label  class="form-label">student_name</label>
        <input type="text"  ngModel  aria-describedby="emailHelp" name="name">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label  class="form-label">gender</label>
        <input type="text" ngModel  aria-describedby="emailHelp" name="gender">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label  class="form-label"> phone</label>
        <input type="number"  ngModel  aria-describedby="emailHelp" name="phone">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
     
   
    <div class="mb-3 form-check">
      <input type="checkbox"  class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> --> -->